.gallery-container {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
}

.gallery {
  margin: 0 auto;
  //   margin: -25px;

  @media screen and (min-width: 550px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__item {
  display: inline-block;
  width: 70vw;
  // max-height: 350px;
  margin-bottom: 50px;

  @media screen and (min-width: 550px) {
    width: calc((100% - 4 * 25px) / 2);
    margin: 25px;
  }

  @media screen and (min-width: 850px) {
    width: calc((100% - 6 * 25px) / 3);
  }

  @media screen and (min-width: 1560px) {
    width: calc((100% - 8 * 25px) / 4);
  }

  @media screen and (min-width: 2070px) {
    width: calc((100% - 12 * 25px) / 6);
  }
}

.gallery__item img {
  //   display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform $trans-dur $trans-time-func;
  // image-rendering: pixelated;

  &:hover {
    transform: scale($img-scale);
  }
}
