.gallery-container {
  padding: 60px 0;
  text-align: center;
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  //   margin: -15px;

  @media screen and (max-width: ($img-width * 2 + $img-margin * 4 + 100px)) {
    max-width: ($img-width + $img-margin * 2);
    justify-content: center;
  }

  @media screen and (min-width: ($img-width * 2 + $img-margin * 4 + 101px)) and (max-width: ($img-width * 3 + $img-margin * 6 + 100px)) {
    max-width: ($img-width * 2 + $img-margin * 4);
  }

  @media screen and (min-width: ($img-width * 3 + $img-margin * 6 + 101px)) {
    max-width: ($img-width * 3 + $img-margin * 6);
  }
}

.gallery__item {
  margin: $img-margin;
}

.gallery__item img {
  width: $img-width;
  height: auto;
  box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 1);
  transition: transform $trans-dur $trans-time-func;

  @media screen and (max-width: 660px) {
    width: 75vw;
  }

  &:hover {
    transform: scale($img-scale);
  }
}
