.gallery-container {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}

.gallery {
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__item {
  height: 350px;
  margin-bottom: 50px;

  @media screen and (min-width: 550px) {
    width: calc((100% - 4 * 25px) / 2);
    margin: 25px;
  }

  @media screen and (min-width: 850px) {
    width: calc((100% - 6 * 25px) / 3);
  }

  @media screen and (min-width: 1560px) {
    width: calc((100% - 10 * 25px) / 5);
  }

  @media screen and (min-width: 2070px) {
    width: calc((100% - 14 * 25px) / 7);
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  // max-width: 450px;
  // height: auto;
  // box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 1);
  border-radius: 2px;
  transition: transform $trans-dur $trans-time-func;

  // image-rendering: pixelated;

  &:hover {
    transform: scale($img-scale);
  }
}
