header {
  // background-color: #a2220e;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  @media screen and (max-width: ($img-width * 2 + $img-margin * 4 + 100px)) {
    width: ($img-width + $img-margin * 2);
    justify-content: center;
  }

  @media screen and (min-width: ($img-width * 2 + $img-margin * 4 + 101px)) and (max-width: ($img-width * 3 + $img-margin * 6 + 100px)) {
    width: ($img-width * 2 + $img-margin * 4);
  }

  @media screen and (min-width: ($img-width * 3 + $img-margin * 6 + 101px)) {
    width: ($img-width * 3 + $img-margin * 6);
  }
}

.navigation__list {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation__icon {
  width: 150px;
  height: auto;

  transition: transform $trans-dur $trans-time-func;

  &:hover,
  &:focus {
    transform: translateY(20px);
  }
}

.soc-list {
  display: flex;
  justify-content: space-between;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  // background-color: rgba(232, 226, 136, 0.5);

  &:hover .soc-list__icon {
    opacity: 1;
    fill: #f00;
  }
}

.soc-list__icon {
  width: 45px;
  height: 45px;
  fill: rgba(0, 0, 0, 0.3);

  transition: fill $trans-dur $trans-time-func;
}
