header {
  // background-color: #a2220e;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo__icon {
  width: 105px;
  height: 50px;
}

.navigation__list {
  // margin-top: 10px;
  // margin-bottom: 10px;
  display: flex;
}

.navigation__item {
  transition: transform $trans-dur $trans-time-func;

  &:hover,
  &:focus {
    transform: translateY(20px);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &.current {
    transform: translateY(20px);
  }
}

.navigation__icon {
  width: auto;
  height: 70px;
}

.soc-list {
  display: flex;
  justify-content: space-between;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  &:hover .soc-list__icon {
    opacity: 1;
    fill: #f00;
  }
}

.soc-list__icon {
  width: 35px;
  height: 35px;
  fill: rgba(0, 0, 0, 0.3);

  transition: fill $trans-dur $trans-time-func;
}
