.paintings-container {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}

.paintings {
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.paintings__item {
  display: inline-block;

  @media screen and (max-width: 449px) {
    margin: 7%;
  }

  @media screen and (min-width: 450px) {
    margin: 30px;
  }
}

.paintings__item img {
  max-width: 450px;
  height: auto;
  box-shadow: 0 28px 16px -26px rgba(0, 0, 0, 1);
  border-radius: 2px;
  transition: transform $trans-dur $trans-time-func;

  // image-rendering: pixelated;

  &:hover {
    transform: scale($img-scale);
  }
}
