ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.list {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #8ad4ef;
}
