ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.list {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-image: url('../images/white-waves.webp');
  background-attachment: fixed;

  @media screen and (max-width: $brk-point-tablet-) {
    &.is-open {
      overflow-y: hidden;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.page-name {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 60px;
}
